<div fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar color="primary" class="mat-elevation-z4">
        <mat-toolbar-row fxLayout="row" fxFlex fxLayoutAlign="space-between center">
            <button mat-button>
                Marba
                <mat-icon>flight_takeoff</mat-icon>
            </button>

            <div fxLayout="row">
                <button mat-button>
                    Categorias
                </button>
                <button mat-button>
                    Contato
                </button>
                <button mat-button>
                    Sobre
                </button>
            </div>
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex fxLayoutAlign="space-around center">
            <span class="titulo-section">Mais procurados</span>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="95" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
            <mat-card fxFlex>
                <mat-card-header>
                    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                        <span>Nova York</span>
                        <mat-chip-list>
                            <mat-chip color="primary">58% OFF</mat-chip>
                        </mat-chip-list>
                    </mat-card-title>
                    <mat-card-subtitle>58% OFF</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                    alt="Nova York 58% OFF">
                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-icon-button>
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-raised-button color="accent">Comprar</button>
                </mat-card-actions>
            </mat-card>
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nova York</mat-card-title>
                    <mat-card-subtitle>58% OFF</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                    alt="Nova York 58% OFF">
                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-icon-button>
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-raised-button color="accent">Comprar</button>
                </mat-card-actions>
            </mat-card>
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nova York</mat-card-title>
                    <mat-card-subtitle>58% OFF</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                    alt="Nova York 58% OFF">
                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-icon-button>
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-raised-button color="accent">Comprar</button>
                </mat-card-actions>
            </mat-card>
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nova York</mat-card-title>
                    <mat-card-subtitle>58% OFF</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                    alt="Nova York 58% OFF">
                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-icon-button>
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-raised-button color="accent">Comprar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="95" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <mat-card fxFlex>
                    <mat-card-header>
                        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                            <span>Nova York</span>
                            <mat-chip-list>
                                <mat-chip color="primary">58% OFF</mat-chip>
                            </mat-chip-list>
                        </mat-card-title>
                        <mat-card-subtitle>58% OFF</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                        alt="Nova York 58% OFF">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-raised-button color="accent">Comprar</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card fxFlex>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nova York</mat-card-title>
                        <mat-card-subtitle>58% OFF</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                        alt="Nova York 58% OFF">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-raised-button color="accent">Comprar</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card fxFlex>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nova York</mat-card-title>
                        <mat-card-subtitle>58% OFF</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                        alt="Nova York 58% OFF">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-raised-button color="accent">Comprar</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card fxFlex>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nova York</mat-card-title>
                        <mat-card-subtitle>58% OFF</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNzgEPqgVEX8mMGmUmQYLYHiV9xk2cVsNHSwGbXGkTOYy9U_D"
                        alt="Nova York 58% OFF">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-raised-button color="accent">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card fxFlex class="footer">
           <div fxFlex="50" fxLayoutAlign="space-around center">
                <span class="footer-nome-empresa">Marba Travel</span>
           </div>
           <div>
               
            </div>
        </mat-card>
    </div>
</div>